.root {
  input {
    margin-top: 10px;
    width: -webkit-fill-available;
    background: #141415;
    border: 1px solid #909090;
    border-radius: 4px;
    color: white;
    padding: 3px 4px 2px;
  }
}