.root {
  color: darken(white, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .githubRibbon {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 0px;
    height: 0px;
    transform: rotate(45deg);

    a {
      color: white;
      text-decoration: none !important;

      div {
        border: 1px solid #616C7A;
        background: #15191D;
        width: 400px;
        text-align: center;
        transform: translate(-50%, -50%);
        padding: 4px;

        &:hover {
          border: 1px solid lighten(#616C7A, 5%);
          background: lighten(#15191D, 5%);
        }

        &:active {
          border: 1px solid #15191D;
          background: #616C7A;
        }
      }
    }
  }

  .container {
    border: 1px solid #616C7A;
    background: #15191D;
    padding: 10px;

    .title {
      font-size: 20px;
      color: white;
    }

    .mainDataPanel {
      display: flex;
      gap: 15px;
      margin-top: 10px;

      .inputsPanel {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .resultsPanel {
        border: 1px solid #878787;
        background: #2A2B2C;
        flex: 1;
        padding: 10px 12px;
        display: flex;
        flex-direction: column;

        .takeThis {
          margin-bottom: 6px;
        }

        img {
          height: 21px;
          position: relative;
          top: 4px;
        }

        .spacer {
          flex: 1;
        }

        .credits {
          font-size: 12px;
        }
      }
    }
  }
}